---
layout: default
---

<script src="https://randojs.com/1.0.0.js"></script>
<script>
    function textOfToday() {
        var textOfTodayArray = [
            '"Ask not the sparrow how the eagle soars."\n - Satsuki Kiryūin, Kill la Kill',
            '"I see now that the circumstances of one\'s birth are irrelevant. It is what you do with the gift of life that determines who you are."\n - Mewtwo, Pokémon: The First Movie - Mewtwo Strikes Back',
            '"On my business card, I am a corporate president. In my mind, I am a game developer. But in my heart, I am a gamer."\n - Satoru Iwata, Nintendo',
            '"Above all, video games are meant to just be one thing: fun. Fun for everyone."\n - Satoru Iwata, Nintendo',
            '"The game is fun. The game is a battle. If it's not fun, why bother? If it's not a battle, where's the fun?"\n - Reggie Fils-Aimé, Nintendo',
            '"A core principle for me is that life is hard, so you need to find strength and determination within yourself to move forward and succeed."\n - Reggie Fils-Aimé, Nintendo',
            'HUMANS NEED FANTASY TO BE HUMAN. TO BE THE PLACE WHERE THE FALLING ANGEL MEETS THE RISING APE.\n - Death, Hogfather',
            '"The only appropriate state of the heart is joy. The sky you see now, you have never seen before. The perfect moment is now. Be glad of it."\n - Terry Pratchett, Thief of Time',
            '"Stories of imagination tend to upset those without one."\n - Terry Pratchett',
            '"Wisdom comes from experience. Experience is often a result of lack of wisdom."\n - Terry Pratchett',
            '"It\'s not worth doing something unless someone, somewhere, would much rather you weren\'t doing it."\n - Terry Pratchett',
            '"How do you want to do this?"\n - Matt Mercer, Critical Role',
            '"You can certainly try."\n - Matt Mercer, Critical Role'];
        document.getElementById('randomQuote').innerHTML = textOfTodayArray[Math.floor(Math.random() * textOfTodayArray.length)];
}
</script>

<style>
    #randomQuote
    {
      font-size: 15px;
      text-align:center;
      font-style:italic;
      font-family:verdana;
    }
</style>

<body onload="textOfToday();">
<div id="randomQuote"></div>
</body>

<hr>

{{ content }}

<hr>

<div>
    Contact me via:<br>
        <a href="mailto:{{ site.email }}">Email - t.j.best@qmul.ac.uk</a><br>
        <a href= "//github.com/{{ site.github_username }}">GitHub - L0RDR0B</a><br>
        <a href= "https://linkedin.com/in/{{ site.linkedin_username }}/">LinkedIn - Toby Best</a><br>
        <a href= "https://twitter.com/{{ site.twitter_username }}">Twitter - L0RDR0B</a><br>
</div>