---
layout: default
---

<script src="https://randojs.com/1.0.0.js"></script>
<script>
    function textOfToday() {
        var textOfTodayArray = [
            '"Ask not the sparrow how the eagle soars." - Satsuki Kiryūin, Kill la Kill',
            '"I see now that the circumstances of one\'s birth are irrelevant. It is what you do with the gift of life that determines who you are." - Mewtwo, Pokémon: The First Movie - Mewtwo Strikes Back',
            '"On my business card, I am a corporate president. In my mind, I am a game developer. But in my heart, I am a gamer." - Satoru Iwata, Nintendo',
            '"HUMANS NEED FANTASY TO BE HUMAN. TO BE THE PLACE WHERE THE FALLING ANGEL MEETS THE RISING APE." - Death, Hogfather',
            '"Stories of imagination tend to upset those without one." - Terry Pratchett',
            '"It\'s not worth doing something unless someone, somewhere, would much rather you weren\'t doing it." - Terry Pratchett',
            '"How do you want to do this?" - Matt Mercer, Critical Role'];
        document.getElementById('randomTitle').innerHTML = textOfTodayArray[Math.floor(Math.random() * textOfTodayArray.length)];
}
</script>

<body onload="textOfToday();">
<div id="randomTitle"></div>
</body>

<hr>

<div style="text-align: center;">
<img src="../assets/img/Headshot.png" width="220" height="330">
</div>

{{ content }}

{% for post in site.posts %}
    <h3><li><a href="{{ post.url }}">{{ post.title }}</a></li></h3><br>

{% endfor %}

<hr>

<div>
    Contact me via:<br>
        <a href="mailto:{{ site.email }}">Email - t.j.best@qmul.ac.uk</a><br>
        <a href= "//github.com/{{ site.github_username }}">GitHub - L0RDR0B</a><br>
        <a href= "https://linkedin.com/in/{{ site.linkedin_username }}/">LinkedIn - Toby Best</a><br>
        <a href= "https://twitter.com/{{ site.twitter_username }}">Twitter - L0RDR0B</a><br>
</div>