---
layout: default
---

<img src="./assets/img/iGGi_Headshot.JPG" width="220" height="330">

{{ content }}

{% for post in site.posts %}
    <h3><li><a href="{{ post.url }}">{{ post.title }}</a></li></h3><br>

{% endfor %}

<hr>

<div>
    Contact me via:<br>
        <a href="mailto:{{ site.email }}">Email - t.j.best@qmul.ac.uk</a><br>
        <a href= "//github.com/{{ site.github_username }}">GitHub</a> - L0RDR0B<br>
        <a href= "https://linkedin.com/in/{{ site.linkedin_username }}/">LinkedIn</a> - Toby Best<br>
        <a href= "https://twitter.com/{{ site.twitter_username }}">Twitter</a> - L0RDR0B<br>
</div>