---
layout: default
---

{% assign random = site.time | date: "%s%N" | modulo: site.data.quotes.size %}

<blockquote>
    &ldquo;{{ site.data.quotes[random].quote }}&rdquo; <cite>{{ site.data.quotes[random].author }}</cite>
</blockquote>

<hr>

<div style="text-align: center;">
<img src="../assets/img/Headshot.png" width="220" height="330">
</div>

{{ content }}

{% for post in site.posts %}
    <h3><li><a href="{{ post.url }}">{{ post.title }}</a></li></h3><br>

{% endfor %}

<hr>

<div>
    Contact me via:<br>
        <a href="mailto:{{ site.email }}">Email - t.j.best@qmul.ac.uk</a><br>
        <a href= "//github.com/{{ site.github_username }}">GitHub - L0RDR0B</a><br>
        <a href= "https://linkedin.com/in/{{ site.linkedin_username }}/">LinkedIn - Toby Best</a><br>
        <a href= "https://twitter.com/{{ site.twitter_username }}">Twitter - L0RDR0B</a><br>
</div>